# Java Files #
*.class

# Package Files #
*.war
*.ear

# Python Files #
*.pyc

# Eclipse Files $
.metadata
.metadata/*
#*.pydevproject
#*.project

# Data Files #
*.csv
*.arff
*.mp4
*.tsv

# Images #
*.jpg
*.png

# State #
#*.pickle